.main-pfp{
  width: 200px;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  box-shadow: 6px 3px rgba(255, 255, 255, 0.5);
  
}

.header{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.header div:hover{
  cursor: pointer;
  border-bottom: 2px solid rgba(224, 191, 255);
}

.personal-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 60px;
}
.js-show-detail-btn{
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(224, 191, 255);
  color: black;
  border: none;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.heading{
  font-weight: bold;
  font-size: 20px;
}
.desc{
  font-size: 22px;
  line-height: 2;
  margin-bottom: 0;
}

.name{
  font-weight: bold;
  font-size: 46px;
  margin: 0;
}

.section{
  font-weight: bold;
  font-size: 36px;
}

.personal-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 60px;
}

.js-details-container-show{
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid rgba(224, 191, 255);
  color: white;
  border-radius: 15px;
  padding: 20px;
}

.contact-info{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}
.LinkedIn.desc:hover, .GitHub.desc:hover{
  color: rgb(78, 144, 184);
  text-decoration: underline;
}
.LinkedIn, .GitHub{
  color: white;
  text-decoration: none;
}

.add-ons{
  display: flex;
  justify-content: center;
  column-gap: 70px;
}
.add-ons button{
  font-weight: bold;
  font-size: 36px;
  padding: 30px 50px;
  border-radius: 75px;
}
.add-ons button:hover{
  background-color: rgba(224, 191, 255);
  cursor: pointer;
}
.edu{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 80px;
}
.edu .heading{
  color: rgb(255, 213, 60);
}
.edu .desc{
  color: rgb(207, 207, 207);
}

.js-content-area img{
  height: 100px;
}
.skill-logos{
  display: flex;
  flex-direction: row;
  column-gap: 70px;
}