.header{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header-element{
  font-size: 18px;
}
.header-element:hover{
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.education{
  display: flex;
  gap: 40px;
  justify-content: left;
  flex-wrap: wrap;
}

.edu{
  padding: 5px 20px;
  border-radius: 30px;
  border: 2px solid rgb(230, 230, 230);
  background-color: rgba(250, 250, 250, 0.75);
  display: flex;
  gap: 30px;
  align-items: center;
  flex: 1 1 300px;
  min-width: 0;
}
.edu-pic{
  width: 100%;
  height: auto;
}

.edu-info{
  font-size: large;
}

.section-heading{
  padding: 5px 20px;
  border-radius: 50px;
  width: fit-content;
  box-shadow: 5px 5px rgba(0,0,0,0.75);
}
.about-para{
  font-size: clamp(12px, 2vw, 20px);
}

.pics-n-about{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.brief{
  font-size: clamp(12px, 2vw, 16px);
  padding-right: 30px;
  width: 40%;
  margin-left: auto;
}
.brief p{
  text-align: right;
}

.socials{
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 30px;
}
.social-icon{
  width: 100%;
  height: 40px;
}
.social-div{
  border: 2px solid gray;
  padding: 5px 20px;
  border-radius: 50px;
}
.social-div:hover{
  border: 5px solid black;
  cursor: pointer;
}
.home{
  display: grid;
  grid-template-columns: 2fr 1.25fr;
}
.home-pic{
  width: 100%;
  height: auto;
  border: 0.25px solid black;
  border-radius: 10px;
}

.pic1{
  margin-top: -10px;
}
.pic2{
  margin-top: -180px;
}
.pic3{
  margin-top: 130px;
}
.home-pic-container{
  /* background-color: blueviolet; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  padding: 30px;
  align-items: center;
}
.role-name{
  font-size: clamp(40px, 10vw, 160px);
  margin: 0;
  padding: 30px;
}
.role{
  padding-top: 100px;
  /* background-color: chartreuse; */
}
body{
  padding: 30px;
}