.download-button{
  background-color:  rgb(55, 31, 0);
  color: white;
  padding: 20px;
  border-radius: 50px;
  font-size: clamp(18px, 2.2vw, 18px);
}
.download-button:hover{
  cursor: pointer;
  border: 5px solid black;
}

.header{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header-element{
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.header-element:hover{
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.timeline {
  position: relative;
  padding-left: 30px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #ccc;
}

.exp-div {
  position: relative;
}

.exp-div::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 30px;
  width: 12px;
  height: 12px;
  background-color: #111;
  border-radius: 50%;
}

.experience p{
  font-size: 20px;
}
.exp-desc{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.project-name {
  font-size: clamp(18px, 2.2vw, 32px);
  font-weight: 600;
}
.project-desc, .tech-stack{
 font-size: clamp(12px, 2.2vw, 24px);
 font-style: italic;
}

.projects{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.project-img{
  width: 100%;
  height: auto;
}
.thumbnail{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.497);
  border-radius: 10px;
  overflow: hidden;
}

.thumbnail:hover{
  cursor: pointer;
  height: auto;
  border: 2px solid black;
}
.proj-div{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.exp-project{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.education{
  display: flex;
  gap: 40px;
  justify-content: left;
  flex-wrap: wrap;
}

.edu{
  padding: 5px 20px;
  border-radius: 30px;
  border: 2px solid rgb(230, 230, 230);
  background-color: rgba(250, 250, 250, 0.75);
  display: flex;
  gap: 30px;
  align-items: center;
  flex: 1 1 300px;
  min-width: 0;
}
.edu-pic{
  width: 100%;
  height: auto;
  border: 0.25px solid black;
  border-radius: 10px;
}

.edu-info{
  font-size: large;
}

.section-heading{
  padding: 5px 20px;
  border-radius: 50px;
  width: fit-content;
  box-shadow: 5px 5px rgba(0,0,0,0.75);
}
.about-para{
  font-size: clamp(12px, 2vw, 20px);
}

.pics-n-about{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.brief{
  font-size: clamp(12px, 2vw, 16px);
  padding-right: 30px;
  width: 40%;
  margin-left: auto;
}
.brief p{
  text-align: right;
}

.socials{
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 30px;
}
.social-icon{
  width: 100%;
  height: 40px;
}
.social-div{
  border: 2px solid gray;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: white;
}
.social-div:hover{
  border: 5px solid black;
  cursor: pointer;
}
.home{
  display: grid;
  grid-template-columns: 2fr 1.25fr;
}
.home-pic{
  width: 100%;
  height: auto;
  border: 0.25px solid black;
  border-radius: 10px;
}

.pic1{
  margin-top: -10px;
}
.pic2{
  margin-top: -180px;
}
.pic3{
  margin-top: 130px;
}
.home-pic-container{
  /* background-color: blueviolet; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  padding: 30px;
  align-items: center;
}
.role-name{
  font-size: clamp(40px, 10vw, 160px);
  margin: 0;
  padding: 30px;
  font-family: "Dancing Script", cursive;
}
.role{
  padding-top: 100px;
  /* background-color: chartreuse; */
}
body{
  padding: 30px;
  background-color: rgb(255, 247, 235);
  /* color: rgb(55, 31, 0); */
   color: rgb(85, 49, 3);
}
.contact {
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: -40px;
  margin-top: 40px;
  padding: 30px 80px; /* optional internal spacing */
  color: white;
  background-color: rgb(55, 31, 0);
}
.contact-details{
  display: flex;
  justify-content: space-between;
}
.contact-div p{
  font-size: 20px;
  color: #c5c5c5;
}
.contact-div h3{
  font-size: 26px;
}
.contact h1{
  font-size: 50px;
}