.profile-pic{
  width: 200px;
  border-radius: 100px;
  margin-top: 40px;
}
.heading{
  font-weight: bold;
  font-size: 20px;
}
.desc{
  font-size: 16px;
}
.name{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}
.contact-info{
  margin-left: 40px;
}
.section{
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0;
}
.skills img{
  height: 100px;
}

.personal-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.skill-logos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}